<div class="title-block">
  <h3 class="title pull-left">
    Страница истории <span class="sparkline bar"></span>
  </h3>

  <div *ngIf="!isLoaded" class="text-center">
    <wfm-loader></wfm-loader>
  </div>
  <div *ngIf="isLoaded">
    <section class="section">
      <wfm-history-chart [data]="chartData"></wfm-history-chart>
    </section>

    <section class="section">
      <wfm-history-events
        [categories]="categories"
        [events]="events"
      ></wfm-history-events>
    </section>
  </div>
</div>


